@import "colors";

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba($color: #141625, $alpha: 1);
  img {
    height: 100px;
    animation-name: mustache;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes mustache {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
