@import "config";
@import "colors";

.last-videos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  position: relative;
  min-height: 800px;

  @include media("md") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.error {
  color: $gris;
  text-align: center;
  font-size: clamp(16px, 5vw, 20px);
  grid-row: 1/2;
  grid-column: 1/3;
}
