// MEdia break points
$breakpoint-xxs: 375px;
$breakpoint-xs: 450px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-landscape: 1024px;

/* Mixins */
@import "mixins";
