<section class="hero">
  <app-people [isLeft]="true"></app-people>
  <div class="hero__content">
    <h1>Gentleman Programming for Everyone</h1>
    <p>Si puedes soñarlo, puedes programarlo.</p>
    <div class="hero__buttons">
      <button class="primary">Únete a la comunidad</button>
      <button class="secondary">Videos</button>
    </div>
  </div>
  <app-people></app-people>
</section>
<div class="separator">
  <div class="separator__number">01</div>
</div>
<section class="channel">
  <div class="container">
    <app-last-videos></app-last-videos>
    <div class="channel__content">
      <h4 class="subtitle">¡Suscríbete y activa la campanita!</h4>
      <h2>Últimos videos del canal</h2>
      <p>
        Cursos gratuitos con mentoría todos los viernes, incluyendo programación
        básica desde 0, hasta buenas prácticas con los frameworks del momento.
      </p>
    </div>
  </div>
</section>
<div class="separator superposed">
  <div class="separator__number">02</div>
</div>
