<div class="people">
  <div class="person">
    <figure>
      <img loading="lazy" src="assets/images/people/man.jpg" lo alt="Alan" />
    </figure>
  </div>
  <div class="person" [ngClass]="isLeft ? 'left' : 'right'">
    <figure>
      <img loading="lazy" src="assets/images/alan.png" alt="Alan" />
    </figure>
  </div>
  <div class="person">
    <figure>
      <img loading="lazy" src="assets/images/alan.png" alt="Alan" />
    </figure>
  </div>
  <div class="person">
    <figure>
      <img loading="lazy" src="assets/images/alan.png" alt="Alan" />
    </figure>
  </div>
  <div class="person" [ngClass]="isLeft ? 'left' : 'right'">
    <figure>
      <img loading="lazy" src="assets/images/alan.png" alt="Alan" />
    </figure>
  </div>
  <div class="person">
    <figure>
      <img loading="lazy" src="assets/images/alan.png" alt="Alan" />
    </figure>
  </div>
</div>
